# Dependencies
node_modules/
.pnpm-store/

# Build and package outputs
out/
dist/
.vite/
build/
*.bin

# Environment & local files
.env
.env.local
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System & IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
